@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}


.group:hover input~.checkmark {
    background-color: #939BF4;
}

.group input:checked~.checkmark {
    background-color: #5964E0;
    /* Change the background color when checked */
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.group input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.group .checkmark:after {
    left: 8px;
    top: 3px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}